@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    --red: #EF0000;
    --gray: #676767;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #676767;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 400;
    margin: 0.1rem;
    text-align: center;
}

a,button {
    all: unset;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    background-color: #EF0000;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 2rem;
    font-weight: 400;
    color: white;
    font-size: 1.5rem;
    margin: 0.5rem 0 0.5rem 0;
    width: 18rem;
    text-align: center;
}

a:hover,button:hover {
    background-color: #e10000;
    font-weight: 600;
}

@media (max-width: 700px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.2rem;
    }
}
