.animation{
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
}

.animation p {
  color: #EF0000;
  width: min-content;
  overflow: hidden;
  font-family: 'Montserrat', serif;
  font-weight: bold;
}

.animation p:nth-child(3) {
  color: #676767;
  font-weight: 400;
}

.animation p:nth-child(2) {
  animation: fade 1.5s ease;
  width: 0;
}

@keyframes fade {
  0% {
    width: 4rem
  }
  40% {
    width: 4rem
  }
  100% {
    width: 0;
  }
}
